<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://github.com/fluidicon.png">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="backstage/index/index.css">
  <script src="js/jquery-3.5.1.min.js"></script>
  <style>
    #root {
      background: url('./img/bg.jpg') no-repeat;
      background-size: 100% 100%;
    }
  </style>
  <title>后台</title>
</head>

<body>
  <div id="root">
    <!-- 流星雨效果 -->
    <div id="stars">
      <div class="star" style="top: 0px;left: 500px;"></div>
    </div>
    <!-- 登录表单 -->
    <div class="form">
      <h2>芝麻开门</h2>
      <div>
        <span>账号： </span>
        <input type="text" name="username">
      </div>
      <div>
        <span>密码： </span>
        <input type="password" name="password">
      </div>
      <div class="submit">
        <span class="login">登录</span>
        <span>注册</span>
      </div>
    </div>
  </div>
</body>
<script src="backstage/index/index.js"></script>

</html>