#root {
  width: 100%;
  height: calc(100% - 250px);
  color: #fff;
  text-align: center;
  padding-top: 250px;
}

#root .form {
  width: 250px;
  margin: 0px auto;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 100px 30px;
  position: relative;
  z-index: 2;
}

#root .form h2 {
  padding: 20px 0 50px;
}

#root .form input {
  outline-style: none;
  padding: 0 10px;
}

#root .form>div {
  margin: 10px 0;
}

#root .form .submit {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

#root .form .submit span {
  display: block;
  padding: 5px 20px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

#root .form .submit span:hover {
  background: #3a8cff;
}

#stars {
  margin: 0 auto;
  max-width: 1600px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#stars .star {
  display: block;
  width: 1px;
  background: transparent;
  position: relative;
  opacity: 0;
  /*过渡动画*/
  animation: star-fall 3s linear infinite;
  -webkit-animation: star-fall 3s linear infinite;
  -moz-animation: star-fall 3s linear infinite;
}

#stars .star:after {
  content: "";
  display: block;
  border: 0px solid #fff;
  border-width: 0px 90px 2px 90px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.1);
  /*变形*/
  transform: rotate(-45deg) translate3d(1px, 3px, 0);
  -webkit-transform: rotate(-45deg) translate3d(1px, 3px, 0);
  -moz-transform: rotate(-45deg) translate3d(1px, 3px, 0);
  transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
}

@keyframes star-fall {
  0% {
    opacity: 0.5;
    transform: scale(0.5) translate3d(0, 0, 0);
    -webkit-transform: scale(0.5) translate3d(0, 0, 0);
    -moz-transform: scale(0.5) translate3d(0, 0, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(-1400px, 1400px, 0);
    -webkit-transform: translate3d(-1400px, 1400px, 0);
    -moz-transform: translate3d(-1400px, 1400px, 0);
  }
  100% {
    opacity: 0;
    transform: scale(1.2) translate3d(-1500px, 1500px, 0);
    -webkit-transform: scale(1.2) translate3d(-1500px, 1500px, 0);
    -moz-transform: scale(1.2) translate3d(-1500px, 1500px, 0);
  }
}